*{  
    
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;


}
nav{
    position: sticky;
    top: 0%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(16,0,13,255);
    
}
.logo{
    width: 100%;
    max-width: 200px;
}
hr{
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes color{
    0%{
        color: gold;
    }
    50%{
        color:silver;
    }
    100%{
        color:rgba(221,207,146,255);
    }
}

#bar{
    display: none;
}
.sidenav{
    display:none;
    position: absolute;
    margin-left:-400px;
    width: 90%;
    padding-bottom: 10%;
    
    background-color:rgba(16,0,13,255);
    transition-duration: 1s;
    
}
#closesidenav{
    font-size: 2rem;
    margin-left: 250px;
}
.s1{
    display: none;
    color: rgba(221,207,146,255);
    font-size:30px;
}

li{
    display: inline;
    margin:0px 10px 0px 30px;
    color: rgba(221,207,146,255);
    cursor: pointer;
    transition-duration: 0.2s;
}
li a{
    color: rgba(221,207,146,255);
    text-decoration: none;
}
li:hover{
    color: silver;
}
.container1{
    background-color:rgba(16,0,13,255);
    display: flex;
    padding: 5rem 0;
    justify-content:space-evenly;
    align-items: center;
    
    overflow-x: hidden;
}

.main1{
    width: 50%;
    color: white;
    font-size: larger;
    
}
.me{
    font-size: 2.1rem;
    animation-name: color;
    animation-duration:2s;
    animation-iteration-count: infinite;
}
.me1{
    font-size: 1.5em;
    color: goldenrod;
}
.roll{
    font-size: 1.5rem;
}
.herme{
    background-color: orangered;
    color:white;
    width: 100px;
    height: 40px;
    border-style:solid;
    margin:2% 3%;
}
.herme:hover{
    background-color: white;
    color: orangered;
}
.main2{
    width: 300px;
    height: 400px;
    border-style: solid;
    border-color:rgba(221,207,146,255);
    border-width:2px;

}
.popup{
    display:inline;
    position: absolute;
    width: 80%;
    height: 500px;
    background-color:rgba(0,0,0,0.30);
    margin-left:-200%;
    transition-duration: 1s;
    
}
.section1{
    display: flex;
    background-color:rgba(16,0,13,255);
    justify-content:space-between;
    padding:1%;
    align-items: center;
    border-top: 1px;
    border-color:whitesmoke;
    border-style: solid;
}
.head1{
    font-size: larger;
    font-style: italic;
    color: rgba(221,207,146,255);
}
.contact{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
#exit{
    font-size: 25px;
    
}
.info{
    width: 300px;
    height: 300px;
    background-color: rgba(16,0,13,255);
    
    
    text-align: center;
    border-radius: 30%;
}

#icon{
    font-size: 230px;
}
div.info p {
    font-size: large;
    color: rgba(221,207,146,255);
}
div.info a{
    text-decoration: none;
    color:chartreuse;
}

.container2{

    background-color:#FFFFFF;
}


.section2{
    display: flex;
    align-items:center;
    flex-wrap: wrap;  
}
.c21{
    padding: 20px;    
    height: auto;
    margin-top: 20px;
    opacity:0;
    transition: 3s; 
      
}
.c21  p{
    max-width: 100%;
    font-size:25px;
    text-align:center;
    font-weight: 400;
    color:rgba(16,0,13,255);
}

.container3{
    padding:4rem 0;
}
.container2,.container3,.container4 p{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    
}
.section3{
    margin-top: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 2s;

}
.section3 a{
    text-decoration: none;
    color: rgba(16,0,13,255);
}
.c3{
    width: 200px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    
}
.c3:hover{
    background-color: rgba(16,0,13,255);
    color: aliceblue;
}
.c3{
    text-align: center;
    margin-top: 20px; 
}
.c3 i{
    margin-top: 10px;
    font-size: 80px;
}
.c3 p{
    font-size: 25px;
    font-weight: 500;
}
.section4{
    max-width: 100%;
    height:90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.s4left{
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 4px;
    width: 35%;
    height: 70%;
}

.button-edu{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width:80%;
    height: 35%;
    border-radius: 30px;
    background-color: white;
    transition: 0.3s;
}
.button-edu:hover{
    width: 100%;
    
}
.button-edu h3{
    color: rgba(16,0,13,255);
    margin-left: 5%;
    font-size: 1.2rem;
}
.button-edu p{
    text-align: center;
    font-size: 1rem;
}
.s4right{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 80%;
    width:60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    
}
.s4right img{
    position:relative;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit:cover;
}







@media screen and (max-width: 600px){
   
    li{
        display: none;
    }
    .nav{
        display: flex;
        gap: 5rem;
        margin: 0 auto;
    }
    .logo{
        max-width: 50%;
    }
    
    .s1,.sidenav{
        display: block;
        margin-top: 30px;
    }
    #bar{
        display: block;
        font-size: 1.4rem;
        
    
    }
    .container1{
        padding: 9rem 0;
    }
    .main1{
        margin-top: 0%;
        max-width:50%;
        height: 100px;
    }
    .me{
        font-size: 1.5rem;
    }
    .me1{
        font-size: 1.2rem;
    }
    .roll{
        font-size: 1.0rem;
    }
    
    .main2{
        width: 170px;
        height: 260px;

    }
    .myphoto{
        width: 165px;
        height: 250px;
    }
    .popup{
        margin-left:-500%;
        width:100%;
        height: 300px;
        background-color:black;
        padding-bottom: 10%;
        
    }
    #icon{
        
        font-size: 1.9rem;
    }
    .info{
        
        width: 150px;
        height: 100px;
        background-color: rgba(0,0,0,0.30);
    }
    div.info p {
        font-size:smaller;
        color: orangered;

    }
    .herme{
        margin-left:-6px;
        width: 150px;
        height: 30px;
        font-weight: 600;

    }
    .section2 .c21{
        margin-top: 0%;        
    }
    .section2 p{
        font-size: 20px;
    }
    .c3{
        width: 120px;
        height: 150px;
    }
    .c3 p{
        font-size: 15px;
    }
    .container4,.container2,.container3{
        margin-top: 30px;
    }
    .button-edu{
        box-shadow: none;
        width: 100%;
        height: 100%;
        
    }
    
    .button-edu h3{
        font-size:0.9rem;
    }
    .button-edu p{
        font-size: 0.9rem;
    }
    
    .s4right{
        margin-left: 50px;
        width: 300px;
        height: 300px; 
        
    }
    .s4right img{
        object-fit:inherit;
    
    }
   

    
}

